service cloud.firestore {
  match /databases/{database}/documents {

    match /mail/{document=**} {
      allow write: if request.resource.data.keys().hasOnly(['to', 'message']);
    }
    match /{document=**} {

      allow read, write: if request.time < timestamp.date(2022, 9, 22);
    }
  }
}
