$primary: #606472;
$secondary: #2a7ea8;
$info: #65bec2;

// background-colors
$background: #f4f6f7;
$background-light: #ffffff;
$background-accent: #a1c3ce;

// Text colors
$light-text: rgba(255, 255, 255, 0.5);
