$primary: #232225;
$secondary: #378eff;
$secondary-light: #8ab0e3;
$secondary-dark: #182c46;
$accent: #5d0cd7;
$accent-light: #a780e1;
$accent-dark: #1e0e36;
$button-background: #917fb6;

// background-colors
$background: #f2f4f7;
$background-light: #ffffff;
$background-dark: #141517;

// svg-colors
$svg-primary: #71748a;
$svg-accent: yellow;

// text-colors
$light-text: rgb(255, 255, 255);
$dark-text: #242728;
$button-text: #121212;

//Bootstrap Mods
$info: $secondary-light;
$success: $secondary-dark;

//Fonts

.sub-title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  color: $light-text;
}

.text {
  color: $light-text;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

.title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600;
  color: $light-text;
}
