$primary: #444343;
$secondary: #ff8b37;
$secondary-light: #ef9066;
$secondary-dark: #ce4d23;
$accent: #1249be;
$accent-dark: #223049;
$accent-light: #5884e8;

// background-colors
$background: #F2F4F7;
$background-light: #ffffff;
$background-accent: #141517;
$background-accent: #141517;

// Text colors
$light-text: rgb(255, 255, 255);
$dark-text: #242728;

//Bootstrap Mods
$info: $secondary-light;
$success: $accent-light;

//Fonts

.sub-title {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  color: $dark-text;
}

.text {
  color: $dark-text;
  text-align: left;
  font-family: "Montserrat", sans-serif;
}

.title {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 600;
  color: $dark-text;
}